body {
    background-color: rgb(28, 153, 199);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    background-color: blue;
    align-self: start;
}
a {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
}
a:hover {
    background-color: darkblue;
}
.btn{

    background-color: #0077ff;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;

}

.btn:hover{

    background-color: #0055cc;

}